<a href="https://colab.research.google.com/github/A01721034/Visualizacion-de-datos/blob/main/clase2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
path = "https://raw.githubusercontent.com/tec03/Datasets/main/datasets/Cartwheeldata.csv"

In [15]:
import pandas as pd

In [17]:
df = pd.read_csv(path)
df.tail()

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
20,21,23,M,2,Y,1,69.0,67.0,66,N,0,2
21,22,29,M,2,N,0,71.0,70.0,101,Y,1,8
22,23,25,M,2,N,0,70.0,68.0,82,Y,1,4
23,24,26,M,2,N,0,69.0,71.0,63,Y,1,5
24,25,23,F,1,Y,1,65.0,63.0,67,N,0,3

In [27]:
cols = df.columns
type (cols)

pandas.core.indexes.base.Index

In [28]:
df.shape

(25, 12)

In [29]:
cols = cols.to_list()
type(cols)

list

In [30]:
cols.sort()

In [31]:
cols

['Age',
 'CWDistance',
 'Complete',
 'CompleteGroup',
 'Gender',
 'GenderGroup',
 'Glasses',
 'GlassesGroup',
 'Height',
 'ID',
 'Score',
 'Wingspan']

In [32]:
df.Height

0     62.00
1     62.00
2     66.00
3     64.00
4     73.00
5     75.00
6     75.00
7     65.00
8     74.00
9     63.00
10    69.50
11    62.75
12    65.00
13    61.50
14    73.00
15    71.00
16    61.50
17    66.00
18    70.00
19    68.00
20    69.00
21    71.00
22    70.00
23    69.00
24    65.00
Name: Height, dtype: float64

In [ ]:
type(df.Height)

In [ ]:
df["Height"]

In [35]:
type(df["Height"])

pandas.core.series.Series

In [36]:
x = df[["Height"]]

In [37]:
type(x)

pandas.core.frame.DataFrame

In [ ]:
x

In [ ]:
df[["Age","Height"]].head(2)

In [ ]:
cols

In [ ]:
df[["Gender","Glasses", "Score"]]

In [ ]:
df.columns

In [47]:
favs=['Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance']

In [ ]:
df[favs]

# **loc y iloc**

loc => df.loc[row_start_Name:row_end_Name,
column_start_Name:column_end_Name]

iloc => df.loc[row_start_Index:row_end_Index,
column_start_Index:column_end_Index]

In [ ]:
df.index

In [ ]:
df

In [ ]:
df.loc[5:10, "Age": "CWDistance"]

In [ ]:
df.columns
df.iloc[5:11, 1:9]

In [ ]:
df.loc[5:10, ["Age","CWDistance"]]

In [ ]:
df.iloc[5:10, [1,8]]

In [68]:
df.iloc[5:10,-3:]

  Complete  CompleteGroup  Score
5        N              0      3
6        Y              1     10
7        Y              1      9
8        N              0      5
9        Y              1      8

In [69]:
df.Gender.unique()

array(['F', 'M'], dtype=object)

In [71]:
df.Height.unique()

array([62.  , 66.  , 64.  , 73.  , 75.  , 65.  , 74.  , 63.  , 69.5 ,
       62.75, 61.5 , 71.  , 70.  , 68.  , 69.  ])

In [72]:
df.groupby(["Gender", "Glasses"]).size()

Gender  Glasses
F       N          4
        Y          8
M       N          7
        Y          6
dtype: int64

In [73]:
df[["Gender","Glasses"]].value_counts()

Gender  Glasses
F       Y          8
M       N          7
        Y          6
F       N          4
dtype: int64